RWDB:
  connection_string: postgresql://postgres:postgres@localhost:5432/db?sslmode=disable
listen_address: :8080
broker:
  connection_string: amqp://rabbitmaster:rabbitmaster@localhost:5672/
  exchange: transaction.input